/* main header bg color - 000000 */
/* main text color - FFFFFF */
/* section text color - 373737 */
/* section secondary text color - 4E4E4E */
/* button color - 00AFDB */
/* main section color - FFFFFF */
/* secondary section color - F5F6F7 */
/* main footer color - 000000 */

:root {
  --primary-white-color: #ffffff;
  --title-text-color: #373737;
  --p-text-color: #4e4e4e;
  --black-bg-color: #000000;
  --button-color: #00afdb;
  --button-hover-color: #009cc2;
  --secondary-bg-color: #f5f6f7;
  --color-gradient: rgba(21, 21, 22, 0.151);
  --footer-text-color: #818181;
}

body {
  margin: 0;
  background-color: var(--primary-white-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
}

/* utilities */

h1,
h2,
h3,
p,
li,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.section {
  padding-top: 120px;
  padding-bottom: 140px;
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.section:nth-child(2n) {
  background-color: var(--secondary-bg-color);
}

.section-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.section-text {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 20px;
  font-size: 14px;
  color: var(--p-text-color);
}

.container {
  width: 1310px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
/* header */

.page-header {
  background-color: var(--black-bg-color);
}

/* main nav */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-nav {
  display: flex;
  margin-right: 85px;
}

/* site-nav */
.site-nav {
  display: flex;
  margin-left: 85px;
}

.site-nav .link {
  display: flex;
  align-items: center;
  line-height: 1.42;
  font-weight: 400;

  padding-top: 38px;
  padding-bottom: 37px;

  color: var(--primary-white-color);

  text-decoration: none;

  opacity: 0.8;
}

.site-nav .link.current {
  font-weight: 500;
}

.site-nav .item + .item {
  margin-left: 85px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--button-color);
}
/* hero */

.hero {
  height: 651px;
  max-width: 1600px;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;

  background-image: linear-gradient(
      var(--color-gradient),
      var(--color-gradient)
    ),
    url('../images/bg-image-wrapper.jpg');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-items: center;
}

.hero-title {
  font-weight: bold;
  font-size: 64px;
  line-height: 95px;

  margin-top: 0;
  margin-bottom: 20px;

  align-items: center;
  text-align: center;

  letter-spacing: 4.5px;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.hero-text {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.button-hero {
  padding: 15px 47px;
  display: inline-block;
  text-align: center;

  margin-top: 0;
  margin-bottom: 100px;

  color: var(--primary-white-color);
  background-color: var(--button-color);

  border: 1px solid transparent;

  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  cursor: pointer;
}

.button-hero:hover {
  background-color: var(--button-hover-color);
  color: white;
  transform: scale(1.1);
}

/* logo */

.icon-logo {
  width: 44px;
  height: 44px;
  left: 0px;
  top: 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* social list */
.social-list {
  display: flex;
  justify-content: center;
}

.social-list .link {
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  color: var(--primary-white-color);
}

.link-list:not(:last-child) {
  margin-right: 30px;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.check-icon {
  width: 16.52px;
  height: 13.22px;
  fill: currentColor;
}

/* buttons*/

.container-flex {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.social-button {
  border: none;
  transition: transform 0.25s;
  background-color: var(--button-color);
  color: var(--primary-white-color);

  width: 180px;
  height: 50px;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.social-button a {
  color: var(--primary-white-color);
  text-decoration: none;
}

.button-item {
  margin-right: 30px;
}

.social-button:hover {
  background-color: var(--button-hover-color);
  color: white;
  transform: scale(1.1);
}

.social-button:hover a {
  color: white;
}

.icon-social {
  width: 20px;
  height: 20px;
  margin-left: 20px;

  left: calc(50% - 20px / 2 - 0.5px);
  top: calc(50% - 23px / 2 + 0.5px);
}

/* sections */

.section-secondary-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  margin-top: 0;
  margin-bottom: 10px;

  letter-spacing: 2.4px;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.section-up-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--title-text-color);
}

.content {
  margin-left: 125px;
  margin-right: 139px;
}

.section-content {
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 110px;
  margin-right: 50px;
}

.image-content {
  margin-right: 110px;
}

.section:nth-child(2n + 1) .content {
  margin-right: 125px;
}

.section:nth-child(2n + 1) .image-content {
  margin-left: 110px;
}

.img-list {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.img-item {
  display: block;
  width: 407px;
  height: 244px;
}

.img-item:first-child {
  margin-right: 30px;
}

/* secondary hero */

.secondary-hero {
  height: 520px;
  max-width: 1600px;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      var(--color-gradient),
      var(--color-gradient)
    ),
    url('../images/export-frame.jpeg');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  text-align: center;
  align-items: center;
}

.secondary-hero-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.input {
  width: 320px;
  height: 46px;

  padding: 20px;

  font-size: 14px;
  font-style: normal;
  font-weight: normal;

  color: var(--title-text-color);

  border: transparent;
}

.secondary-hero-button {
  position: absolute;
  width: 66px;
  height: 46px;

  border: transparent;
  background-color: var(--button-color);
  cursor: pointer;
}

.secondary-hero-button:hover {
  background-color: var(--button-hover-color);
  color: white;
  transform: scale(1.05);
}

/* contacts container */

.contacts-container {
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* footer */

.page-footer {
  background-color: var(--black-bg-color);
  padding-top: 60px;
  padding-bottom: 80px;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-site-nav {
  display: flex;
}

.footer-site-nav .list {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.footer-site-nav .link {
  display: flex;
  align-items: center;

  color: var(--primary-white-color);

  text-decoration: none;

  opacity: 0.8;

  font-style: normal;
  font-weight: normal;
  line-height: 1.42;
  font-size: 14px;
}

.footer-site-nav .items + .items {
  margin-left: 10px;
}
